a:hover {
	color: red;
}


.right {
	float: right;
	padding: 0;

}

.column {
	width: 30%;
	text-align: justify;
	float: left;
	padding: 0 10px;
}

.introduction img {
	float: left;
}

.introduction p {
	padding: 10px;
}

.editorialMission {
	clear: both;
}

.introduction {
	height: 120px;
}

.editorialMission h3 {
	font-size: 80px;
	margin-left: 20px;
	font-family: 'Raleway', sans-serif;
	color: red;
}

.editorialMission p {
	margin-left: 300px;
	color: pink;
	line-height: 20px;
}



.audience h3 {
	font-size: 80px;
	margin-left: 20px;
	font-family: 'Raleway', sans-serif;
	color: red;
}

.audience img {
	margin-left: 200px;
}

.audience h4 {
	color: red;
	margin-left: 80px;
}

.audience ul li {
	font-size: 15px;
	line-height: 25px;
	margin-left: 80px;
}

.reach h4 {
	font-size: 80px;
	margin-left: 20px;
	font-family: 'Raleway', sans-serif;
	color: red;
}

.reach img {
	margin-left: 80px;
}

.reach li {
	margin-left: 80px;
}