a:hover {
	color: red;
}


.right {
	float: right;
	background-color: blue; 
	width: 85%;
	padding: 0;

}

.column {
	width: 30%;
	text-align: justify;
	float: left;
	padding: 0 10px;
}

.introduction img {
	float: left;
}

.introduction p {
	padding: 10px;
}

.editorialMission {
	clear: both;
}

.introduction {
	height: 120px;
	background-color: yellow;
}